.topbar {
  background: #fafafa;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  padding: 8px 0;
  color: #222;
}

.topbar i {
  color: #99000f;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

.social-links a {
  color: #111;
  text-decoration: none;
}

.social-links a:hover {
  color: #99000f;
}

.main-navbar {
  background: #fff;
  min-height: 70px;
  box-shadow: 0 2px 8px #0000000d;
  height: 40px;
}

.logo {
  width: 230px;
  height: auto;
  object-fit: contain;
}

.nav-link {
  color: #181818 !important;
  font-size: 15px;
  font-weight: 500;
  padding: 28px 12px !important;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #99000f !important;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  height: 2px;
  background: #99000f;
}

.join-btn {
  background: #92000f;
  color: #fff !important;
  padding: 13px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.join-btn:hover {
  background: #b00015;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {

  .topbar .row > div {
    text-align: center;
  }

  .topbar .d-flex {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px 15px !important;
  }

  .social-links {
    justify-content: center;
    margin-top: 6px;
  }

  .main-navbar {
    padding: 10px 0;
  }

  .logo {
    width: 180px;
  }

  .nav-link {
    padding: 12px !important;
  }

  .nav-link.active::after {
    display: none;
  }

  .join-btn {
    margin-top: 8px;
    justify-content: center;
  }
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.logo-text {
  line-height: 1;
}

.logo-title {
  color: #99000f;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
}

.logo-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  letter-spacing: .2px;
}

@media (max-width: 991px) {
  .logo-icon {
    width: 55px;
    height: 55px;
  }

  .logo-title {
    font-size: 30px;
  }

  .logo-subtitle {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .topbar {
    display: none !important;
  }

  .main-navbar {
    padding: 10px 0;
  }

  .logo-icon {
    width: 55px;
    height: 55px;
  }

  .logo-title {
    font-size: 24px;
  }

  .logo-subtitle {
    font-size: 7px;
  }
}